@using aracKiralama.Models
@model VehicleOwners
@{
    ViewBag.Title = "SirketSil";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Şirket Silme Sayfası</h2>
<form action="/VehicleOwners/SirketSil" method="post">
    <label>@Model.SahipAdi silmek istiyor musunuz</label>
    <input typeof="hidden" name="SahipID" value="@Model.SahipID" readonly />
    <br />
    <input type="submit" value="Evet" class="btn btn-danger" /><br />
    <a class="btn btn-dark" href="/VehicleOwners/SirketListele">Hayır</a>
</form>



