@using aracKiralama.Models

@{
    ViewBag.Title = "ExtraSor";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Extra Sor</h2>

<a>Ekstra eklentiler eklemek ister misiniz?</a>
<a href="/Extra/ExtraListele" class="btn btn-danger" >EVET</a>
<a href="/Payments/Index" class="btn btn-danger">HAYIR</a>

